/* font */
$font: 'TTCommons', Arial, sans-serif;

/* font-size */
$fz-xxl: 112px;
$fz-lg: 84px;

/* colors */
$orange: #FE5900;
$black: #101010;
$gray-light: #F3F3F3;
$white: #FFFFFF;
$purple-light: #E2BEFF;