@import url('./helpers/_fonts.scss');
@import url('./helpers/_null.scss');

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
}

h1 {
    font-family: $font;
    font-weight: 400;
    font-size: $fz-xxl;
}

h2 {
    font-family: $font;
    font-weight: 400;
    font-size: $fz-xl;
}